<h1> Gerenciamento de Máquinas </h1>

<table>
	<tr>
		<th> Tipo </th>
		<th> Nome </th>
		<th> Descrição </th>
		<th> Meses de Garantia </th>
		<th> Data de Compra </th>
		<th> Quebrada </th>
	</tr>

<% @maquinas.each do |maquina| %>
	<tr>
		<td><%= maquina.tipo %></td>
		<td><%= maquina.nome %></td>
		<td><%= maquina.descricao %></td>
		<td><%= maquina.mesesdegarantia %></td>
		<td><%= maquina.datadecompra.strftime("%d/%m/%Y") %></td>
		<td><%= maquina.quebrada.to_yesno %></td>
		
		<td><%= link_to "Mostrar", maquina %></td>
		<td><%= link_to "Modificar", edit_maquina_path(maquina) %></td>
		<td><%= link_to "Apagar", maquina, confirm: "Tem certeza que quer excluir a Máquina?", method: :delete %></td>
	</tr>
<% end %>
</table

<br />

<%= link_to "Criar nova Máquina", new_maquina_path %>